/* line 4, scss/base.scss */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  color: #4d4d4d;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 100%;
}

/* line 13, scss/base.scss */
img {
  max-width: 100%;
}

/* line 17, scss/base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 21, scss/base.scss */
a, a:visited, a:hover, a:active {
  color: #2b812b;
  text-decoration: none;
}

/* */
/* line 28, scss/base.scss */
footer {
  margin-top: 0.5em;
  width: 100%;
  height: 2em;
  background-color: #eeeeee;
}
/* line 33, scss/base.scss */
footer nav ul {
  width: 100%;
  font-size: 0.875em;
  display: inline-block;
  margin: 0;
  padding: 0;
}
/* line 39, scss/base.scss */
footer nav ul li {
  padding-top: 0.5em;
  margin: 0 1em;
  display: inline-block;
}
/* line 43, scss/base.scss */
footer nav ul li a, footer nav ul li a:visited {
  font-weight: bold;
  color: #4d4d4d;
}

/* line 51, scss/base.scss */
.content {
  height: 90%;
}

/* line 54, scss/base.scss */
.inner-wrapper, .outer-wrapper {
  height: 100%;
}

/* line 58, scss/base.scss */
#menu {
  border-left: 1px solid #999999;
  background-color: #eeeeee;
  color: #666666;
}

/* line 64, scss/base.scss */
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 70, scss/base.scss */
#logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* line 77, scss/base.scss */
#masthead {
  padding-left: 70px;
  background-color: #333333;
  color: #666666;
  position: relative;
  border-bottom: 2px solid #2b812b;
  height: 2em;
}
/* line 84, scss/base.scss */
#masthead h2 {
  display: none;
}

/*
 * Menu links are block so they'll occupy the full
 * width (easier to tap)
 */
/* line 94, scss/base.scss */
#menu a {
  border-bottom: 1px solid #cccccc;
  color: inherit;
  display: block;
  text-decoration: none;
  padding: 0.75em 0.5em;
  text-transform: lowercase;
  font-variant: small-caps;
}
/* line 102, scss/base.scss */
#menu a.is-active {
  background-color: rgba(43, 129, 43, 0.7);
}

/* line 108, scss/base.scss */
#menu-trigger {
  background-color: #666666;
  color: #eeeeee;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1em;
  margin-top: -1.5em;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 50%;
}

/* line 121, scss/base.scss */
#menu-trigger a {
  color: #eeeeee;
  display: block;
  padding: 1em;
  text-decoration: none;
}

/** Media queries! **/
@media screen and (min-width: 40em) {
  /* line 131, scss/base.scss */
  #masthead h2 {
    display: inline;
    float: left;
    margin: 0 .75em;
    color: #999999;
    font-weight: 300;
  }

  /* line 138, scss/base.scss */
  #menu-trigger {
    display: none;
  }

  /* line 141, scss/base.scss */
  #menu {
    background-color: transparent;
  }
  /* line 143, scss/base.scss */
  #menu ul {
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;
  }
  /* line 148, scss/base.scss */
  #menu ul li {
    line-height: 2em;
    display: inline;
    padding: 1em 0;
    margin: 0;
    height: 100%;
  }
  /* line 154, scss/base.scss */
  #menu ul li a {
    padding: 0 1em;
    margin: 0 0 0 0;
    display: inline-block;
    color: #eeeeee;
    border-bottom: none;
  }
  /* line 160, scss/base.scss */
  #menu ul li a:hover {
    background-color: #2b812b;
  }
}
