$colorGreen: rgb(43, 129, 43);
$colorGrey0: rgb(51,51,51);
$colorGrey1: rgb(77,77,77);
$colorGrey2: rgb(102,102,102);
$colorGrey3: rgb(153,153,153);
$colorGrey4: rgb(204,204,204);
$colorGrey5: rgb(238,238,238);

$fontMain: "Helvetica Neue", "Helvetica", Arial, sans-serif;