@import "_variables";
@import "compass/css3/box-shadow";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  color: $colorGrey1;
  font-family: $fontMain;
  font-size: 100%;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a, a:visited, a:hover, a:active {
  color: $colorGreen;
  text-decoration: none;
}

/* */

footer {
  margin-top: 0.5em;
  width: 100%;
  height: 2em;
  background-color: $colorGrey5;
  nav ul {
    width: 100%;
    font-size: 0.875em;
    display: inline-block;
    margin: 0;
    padding: 0;
    li {
      padding-top: 0.5em;
      margin: 0 1em;
      display: inline-block;
      a, a:visited {
        font-weight: bold;
        color: $colorGrey1;
      }
    }
  }
}

.content {
  height: 90%;
}
.inner-wrapper, .outer-wrapper {
  height: 100%;
}

#menu {
  border-left: 1px solid $colorGrey3;
  background-color: $colorGrey5;
  color: $colorGrey2;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#masthead {
  padding-left: 70px;
  background-color: $colorGrey0;
  color: $colorGrey2;
  position: relative;
  border-bottom: 2px solid $colorGreen;
  height: 2em;
  h2 {
    display: none;
  }
}

/*
 * Menu links are block so they'll occupy the full
 * width (easier to tap)
 */

#menu a {
  border-bottom: 1px solid $colorGrey4;
  color: inherit;
  display: block;
  text-decoration: none;
  padding: 0.75em 0.5em;
  text-transform: lowercase;
  font-variant: small-caps;
  &.is-active {
    background-color: transparentize($colorGreen, 0.3);
  }
}


#menu-trigger {
  background-color: $colorGrey2;
  color: $colorGrey5;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1em;
  margin-top: -1.5em;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 50%;
}

#menu-trigger a {
    color: $colorGrey5;
    display: block;
    padding: 1em;
    text-decoration: none;
}

/** Media queries! **/
@media screen and (min-width: 40em) {

  #masthead h2 {
    display: inline;
    float: left;
    margin: 0 .75em;
    color: $colorGrey3;
    font-weight: 300;
  }
  #menu-trigger {
    display : none;
  }
  #menu {
    background-color: transparent;
    ul {
      list-style-type: none;
      display: inline;
      padding: 0;
      margin: 0;
      li {
        line-height: 2em;
        display: inline;
        padding: 1em 0;
        margin: 0;
        height: 100%;
        a {
          padding: 0 1em;
          margin: 0 0 0 0;
          display: inline-block;
          color: $colorGrey5;
          border-bottom: none;
          &:hover {
            background-color: $colorGreen;
          }
        }
      }
    }
  }
}